<?xml version="1.0"?>
<config>
 
    <modules>
        <Ip_WordPress>
            <version>0.1.0</version>
        </Ip_WordPress>
    </modules>
	
    <frontend>
        <layout>
            <updates>
                <wordpress>
                    <file>wordpress.xml</file>
                </wordpress>
            </updates>
        </layout>
	</frontend>
 
    <global> 
	<helpers>
		<wordpress>
			<class>Ip_WordPress_Helper</class>
		</wordpress>
	</helpers> 			
        <blocks>
            <wordpress>
                <class>Ip_WordPress_Block</class>
            </wordpress> 
        </blocks> 				
    </global>
	
	<default>
		<web>
			<routers>
				<wordpress>
					<area>frontend</area>
					<class>Ip_WordPress_Controller_Router</class>
				</wordpress>
			</routers>
		</web>
		<ip_section>
			<ip_wordpress>
				<ip_wordpress_url>news</ip_wordpress_url>
			</ip_wordpress>
		</ip_section>
	</default>	
	
</config>
