<?xml version="1.0"?>
<config>
	<tabs>
        <ip_tab translate="label" module="global">
            <label>Inverse Paradox</label>
            <sort_order>250</sort_order>
        </ip_tab>
    </tabs>
	<sections>
         <ip_section translate="label" module="global">
         	<label>Custom Options</label>
			<tab>ip_tab</tab>
			<frontend_type>text</frontend_type>
			<sort_order>99999</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
            <groups>
                <ip_wordpress translate="label comment" module="global">
                    <label>Wordpress Options</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<fields>
                        <ip_wordpress_url translate="label">
                            <label>Wordpress URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ip_wordpress_url>
                    </fields>
                </ip_wordpress>
            </groups>
        </ip_section>
    </sections>
</config>